body {
    padding: 0;
    margin: 0;
    background: #f3f7fa;
}

.App-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.App-header img {
    filter: drop-shadow(0 10px 10px #b0c2d3);
}

.App-content {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.tickets {
    display: flex;
    flex-direction: column;
    gap: 15px;
}